:root {
  --orange: #fb5012ff;
  --purple: #665687ff;
  --blue: #b4c5e4ff;
  --ivory: #fbfff1ff;
  --black: #071013ff;;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *** GRID SECTION *** */

.container {
  display: grid;
  grid-template-columns: minmax(200px, 250px) minmax(500px, 1fr) minmax(200px, 250px);
  grid-template-rows: 200px 1fr;
}

header {
  border: 2px solid red;
  grid-column: 2 / -1;
}

nav {
  border: 2px solid aqua;
  grid-row: 1 / -1;
}

main {
  border: 2px solid green;
  grid-area: 2 / 2 / 3 / 3;
}

aside {
  border: 2px solid orange;
  grid-area: 2 / 3 / 3 / 4;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  border: 2px solid purple;
}

/* *********************************** */

/* *** NAV styling *** */

nav > ul {
  list-style: none;
  margin: 40px 0;
}

nav li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding-left: 5px;
}

.icon {
  height: 25px;
}

nav{
  padding: 15px;
}


/* ******************* */

/* *** HEADER styling *** */

.avatar {
  height: 60px;
}

.left {
  justify-self: end;
}

.header-top {
  display: grid;
  grid-template-columns: minmax(min-content, 75px) 1fr minmax(min-content, 300px);
  align-items: center;  
  gap: 10px;
  margin-top: 20px;
}

.user-area {
  display: grid;
  grid-template-columns: 25px 90px max-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input[type='search'] {
  margin-right: 50px;
  height: 2.5em;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 5px;
}







@media only screen and (max-width: 900px) {
  aside, nav {
    display: none;
  }
  main {
    grid-area: 2 / 1 / -1 / -1;
  }
  .container {
    grid-template-columns: 1fr;
  }
  header {
    grid-column: 1;
  }
  input[type='search'] {
    margin-right: 0;
  }
}